
.Rp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-bottom: 100px;
}
.Rp h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.Rp hr{
    width: 200px;
    height: 6px;
    border-radius: 10xp;
    background: #252525;
}
.Rp-item{
    margin-top: 50px;
    display: flex;
    gap: 10px;

}

@media(max-width:1280px){
    .Rp{
        height: 70vh;
    }
    .Rp h1{
        font-size: 40px;
    }
    .Rp hr{
        width: 160px;
        height: 4px;
    }
    .Rp-item{
        gap: 20px;
        margin-top: 30px;
    }
}
@media(max-width:1024px){
    .Rp{
        height: 60vh;
    }
    .Rp h1{
        font-size: 30px;
    }
    .Rp hr{
        width: 120px;
        height: 3px;
    }
    .Rp-item{
        gap: 15px;
        margin-top: 20px;
    }
}

@media(max-width:800px){
    .Rp{
        height: 50vh;
        gap:6px;
    }
    .Rp h1{
        font-size: 20px;
    }
    .Rp hr{
        width: 100px;

    }
    .Rp-item{
        gap: 5px;

    }
}
@media(max-width:500px){
    .Rp{
        height: 90vh;
    }
    .Rp-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    }
}





